{% extends 'base.html.twig' %}
{% block title %} Admin {% endblock %}
{% block body %}
    {% for message in app.flashes('notice') %}
        <div class="container">
            <div class="row">
                <div class="col-offset-4 col">

                        <div class="flash-notice">
                        {{ message }}
                        </div>

                </div>
            </div>
        </div>
    {% endfor %}
    <div class="container table-container" id="container">
        <table id="subscribers" class="table table-striped table-bordered" width="800" cellspacing="0">
            <thead>
                <tr>
                    <th>Name<i class="fas fa-sort"></i></th>
                    <th>Email<i class="fas fa-sort"></i></th>
                    <th>Subscriptions<i class="fas fa-sort"></i></th>
                    <th>Registration time<i class="fas fa-sort"></i></th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                {% for key, user in userData if user.active %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                        {% for subscriptionName, subscriptions in user.subscriptions if subscriptions  %}
                            {{ subscriptionName }}
                        {% endfor %}
                        </td>
                        <td>{{ user.registration_time }}</td>
                        <td><a href="{{ path('editSubscriber', {'subscriber': key}) }}"><i class="fas fa-arrow-right"></i></a></td>
                        <td><a href="{{ path('deleteSubscriber', {'subscriber': key}) }}"><i class="fas fa-times"></i></i></a></td>
                    </tr>
                {% else %}
                    <em>no user found</em>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
{% block customScripts %}
<script>
    $(document).ready(function() {
        $('#subscribers').DataTable( {
            "searching": false,
            "paging": false,
            "ordering": true
        } );
    } );
</script>
{% endblock %}